@import url('https://fonts.googleapis.com/css?family=Peralta');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --primary-color: #7bccc5;
    --secondary-color: #40231a;
    --accent1-color: #f0ede2;
    --accent2-color: #192120;

    --heading-font:'Peralta';
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
}

* {
    margin: 0 auto;
    padding: 0;
}

.grid {
	display: grid;
	grid-template-columns: 250px 1fr 4fr;
	align-items: center;
	max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    padding: 1rem 0 1rem 0;
}

h2 {
    text-align: center;
}

p {
    padding: 1rem;
}

body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    padding: 20px;
}

body header {
    padding: 15px;
    background-color: var(--primary-color);
}

header img {
    float: left;
    width: 120px;
}

header nav {
    background-color: var(--nav-background-color);
    font-size: 1.3rem;
    display: flex;
	list-style: none;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
}

header nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    text-wrap: nowrap;
	flex: 1 1 100%;
    padding: 0 1rem 0 1rem;
}

.flex {
    display: flex;
}

.sociallinks {
    color: var(--nav-hover-link-color);
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    width: 100%;
    background-color: var(--accent2-color);
    opacity: 80%;
    color: var(--accent1-color);
    text-align: center;
}

.hero img {
    display: block;
    width: 800px;
    height: auto;
}

.hero article {
    position: absolute;
    color: var(--accent1-color);
    margin: 7rem 1rem 1rem 1rem;
    width: 760px;
    opacity: 80%;
}

.hero article p {
    background-color: var(--primary-color);
    text-align: justify;
    height: 8.5rem;
}

.hero article img {
    clear: both;
    float: right;
    height: auto;
    width: 200px;
    margin: 1rem 1rem 1rem 1rem;
}

main section p {
    text-align: justify;
}

#adventure {
    display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	align-items: center;
	max-width: 800px;
}

main section img {
    width: 100px;
}

footer section {
    display: grid;
	grid-template-columns: 500px 1fr 1fr;
    width: 780px;
    margin: 3rem 1rem 10rem 1rem;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

footer nav {
    display: flex;
    padding: .5rem .5rem .5rem .5rem;
}

footer nav a img {
    width: 35px;
    padding: .2rem 1rem 0 1rem;
}

footer nav a:hover {
    background-color: var(--nav-hover-link-color);
}