@import url('https://fonts.googleapis.com/css?family=Peralta');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary-color: #7bccc5;
    --secondary-color: #40231a;
    --accent1-color: #f0ede2;
    --accent2-color: #192120;

    --heading-font:'Peralta';
    --paragraph-font: 'Roboto';

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color);
}

* {
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    padding: 1rem 0 1rem 0;
}

h2 {
    text-align: center;
}

p {
    padding: 1rem;
    font-family: var(--paragraph-font);
}

body {
    font-family: var(--paragraph-font);
    max-width: 800px;
    padding-bottom: 20px;
}

body header {
    padding: 20px;
    background-color: var(--primary-color);
}

main {
    background-color: var(--accent1-color);
    padding-bottom: 2rem;
}

.no-padding-bottom {
    padding-bottom: 0;
}

header img {
    float: left;
    width: 120px;
}

header nav {
    background-color: var(--nav-background-color);
    font-size: 1.3rem;
    display: flex;
	list-style: none;
    width: 550px;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
}

header nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
}

.flex {
    display: flex;
}

.sociallinks {
    color: var(--nav-hover-link-color);
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    width: 100%;
    background-color: var(--accent2-color);
    opacity: 80%;
    color: var(--accent1-color);
    text-align: center;
}

.hero img {
    display: block;
    width: 800px;
    height: auto;
}

.hero article {
    position: absolute;
    color: var(--accent1-color);
    margin: 7rem 1rem 1rem 1rem;
    width: 760px;
    opacity: 90%;
}

.hero article p {
    background-color: var(--accent2-color);
    text-align: justify;
    height: 8.5rem;
}

.hero article img {
    clear: both;
    float: right;
    height: auto;
    width: 200px;
    margin: 1rem 1rem 1rem 1rem;
}

.page-block {
    text-align: center;
}

.page-block section p {
    color: var(--secondary-color);
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    width: 13rem;
}

.page-block section img {
    width: 25px;
    margin-right: .5rem;
    vertical-align: middle;
}

.page-block section h2 {
    font-size: x-large;
}

.page-block h1{
    padding-top: 2rem;
}

#headquarter-info {
    width: 300px;
    height: 260px;
}

#headquarter-info p {
    text-align: left;
}

#headquarter-map {
    width: 300px;
    height: 300px;
}

.colored-div {
    background-color: rgb(123 204 197 / 75%);
    padding-bottom: 100px;
}

.contact-card {
    width: 290px;
    height: 200px;
}

.top-card {
    margin-top: -100px;
}

.bottom-card {
    margin-top: 30px;
    height: auto;
}

.contact-card p {
    text-align: center;
    vertical-align: center;
}

.card {
    background-color: white;
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
    padding: 1rem .5rem;
}

button {
  background-color: var(--accent2-color);
  color: white;
  border: none;
  border-radius: .2rem;
  padding: .75rem 1.2rem;
  font-size: x-small;
}

button:hover {
  background-color: var(--nav-hover-link-color);
}

#sales-profile{
    width: 120px;
    margin: 0;
}

#hr-profile{
    width: 120px;
    margin: 0;
}

fieldset {
    border: none;
    max-width: 800px;
    margin-top: 2rem;
}

.form-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 600px;
}

#item-3 {
    grid-column: span 2;
    width: 580px;
}

label, input, button, select, textarea {
  font-family: Roboto, Arial, sans-serif;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: medium;
}

label {
    font-weight: bold;
    width: 100%;
    text-align: left;
}

textarea{
    width: 560px;
}

input {
    width: 260px;
}

.form-item {
    display: grid;
    margin-bottom: 15px;
}

main section p {
    text-align: justify;
}

#adventure {
    display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	align-items: center;
	max-width: 800px;
}

main section img {
    width: 100px;
}

iframe {
    width: 300px;
    height: 300px;
    border: 0;
}

footer div {
    display: grid;
	grid-template-columns: 500px 1fr 1fr;
    width: 800px;
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    font-size: small;
    background-color: var(--accent1-color);
}

footer nav {
    display: flex;
    padding: .5rem;
}

footer nav a img {
    width: 30px;
    padding: .2rem 1rem 0 1rem;
}

footer nav a:hover {
    background-color: var(--nav-hover-link-color);
}

#contact-footer div {
    margin-top: 0;
}

#trip-call-to-action {
    width: 100%;
    height: 30%;
    position: absolute;
    background-color: var(--accent2-color);
    opacity: 80%;
    text-align: center;
    justify-content: center;
}

.hero div a{
    color: var(--accent1-color);
    text-decoration: none;
}

.hero div a:hover{
    color: var(--primary-color);
}

.alinhamento-central {
	height: 400px;
	justify-content: center;
	align-items: center;
}

.alinhamento-central .item {
	flex: 0;
	padding: 10px;
}

.container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent2-color);
    position: relative;
}

.container button a {
    padding-right: 1rem;
}

.cls-position-absolute {
    position: absolute;
}

.back-img {
    width: 800px;
    opacity: 80%;
    height: 500px;
    padding-top: 4px;
}

.call-to-action-button {
  color: var(--accent2-color);
  background-color: var(--primary-color);
  border: 1px solid var(--accent2-color);
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-decoration: none;
  
  box-shadow: 2px 7px 96px -2px var(--accent1-color);
  -webkit-box-shadow: 2px 7px 96px -2px var(--accent1-color);
  -moz-box-shadow: 2px 7px 96px -2px var(--accent1-color);
}

.call-to-action-button:hover {
  box-shadow: none;
  cursor: pointer;
  background-color: var(--accent1-color);
  color: var(--accent2-color);
}

.call-to-action-button img{
    padding-right: 1rem;
}

.cls-grid {
	display: grid;
	align-items: center;
	max-width: 800px;
}

.cls-header-grid {
	grid-template-columns: 200px 1fr 4fr;
}

.cls-info-grid {
    grid-template-columns: 350px 2fr;
}

.cls-info-grid-margin {
    margin: 2rem 4rem 4rem 4rem;
}

.cls-newsletter-grid {
    grid-template-columns: 50% 50%;
    margin: 0 2rem;
    width: 700px;
    height: 300px;
}

.cls-newsletter-grid section {
    width: 400px;
}

.cls-newsletter-card {
    margin: 4rem 150px;
}

.cls-newsletter-card h2 {
    padding-bottom: 0;
}

.cls-newsletter-card p {
    margin: 0;
    text-align: center;
}

.cls-newsletter-card input{
    display: grid;
    margin-bottom: 1rem;
    border: none;
    border-bottom: 1px solid var(--accent2-color);
    width: 250px;
}

.cls-newsletter-card button {
    margin-top: .5rem;
    width: 150px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

.cls-newsletter-card button:hover{
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.cls-trips-table table {
    border: 1px solid var(--accent2-color);
    margin-top: -90px;
    background-color: var(--accent1-color);
    width: 500px;
}

.cls-trips-table table th,td {
  border: 1px solid var(--accent2-color);
  padding: 8px 10px;
}

.cls-trips-table table th {
  color: var(--accent2-color);
}

.cls-trips-table table tbody > tr:nth-of-type(even) {
    background-color: rgb(123 204 197 / 50%);
}

.cls-trips-table table thead {
    background-color: rgb(64 35 26 / 80%);
}

.cls-trips-table table caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
  font-size: small;
  color: var(--secondary-color);
}

.cls-trip-grid {
    grid-template-columns: 50% 50%;
    margin-bottom: 1rem;
    width: 700px;
}

.cls-trip-card {
    margin: 1rem;
    height: 300px;
    background-color: var(--primary-color);
}

.cls-trip-card p{
    text-align: justify;
}

.cls-light-backgorund {
    background-color: var(--accent1-color);
    height: auto;
}

.cls-full-img img {
    margin: 0;
    padding: 0;
    width: 300px;
}

#kayak-alone-img {
    margin: 1rem .5rem .5rem 2.8rem;
    width: 120px;
    float: left;
}

#boat-alone-img {
    margin: 1rem 2.8rem .5rem .5rem;
    width: 120px;
    float: right;
}

#kayak-group-img{
    margin: 1rem .5rem .5rem 2.8rem;
    width: 130px;
    float: left;
}

#boat-group-img {
    margin: 1rem 2.8rem .5rem .5rem;
    width: 130px;
    float: right;
}

#home-boat-group-img, #home-kayak-group-img{
    margin: 0;
    margin-left: -10px;
    width: 315px;
    border: 2px solid var(--accent2-color);
    border-radius: .5rem;
}

.cls-no-border {
    border: none;
}

.cls-title-alone {
    margin-bottom: 20px;
}

#purpose-grid {
    margin-bottom: 0;
}